In [197]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [182]:
revdf = pd.read_pickle('data/revdense.pk')
author_ids = list(revdf.AuthorId.unique())
recipe_ids = list(revdf.RecipeId.unique())

In [183]:
ratings_by_author = {author_id:{} for author_id in author_ids}
ratings_by_recipe = {recipe_id:{} for recipe_id in recipe_ids}

for review_index in revdf.index:
    author_id = revdf['AuthorId'][review_index]
    recipe_id = revdf['RecipeId'][review_index]
    rating = revdf['Rating'][review_index]
    ratings_by_author[author_id][recipe_id] = rating
    ratings_by_recipe[recipe_id][author_id] = rating

In [194]:
revdf['NRating'] = [revdf['Rating'][i]-np.mean(list(ratings_by_author[revdf['AuthorId'][i]].values())) for i in revdf.index]

In [201]:
revtraindf, revtestdf = train_test_split(revdf,test_size=0.2, random_state=1729,stratify = revdf.AuthorId.values)

We're going to use our training set to construct a model.

First, we organize the data in the training set by author/recipe to make it easy to retrieve things later.

In [216]:
ratings_by_author = {author_id:{} for author_id in author_ids}
reviewers_by_recipe = {recipe_id:[] for recipe_id in revtraindf.RecipeId.unique()}
for review in revtraindf.index:
    author_id = revtraindf['AuthorId'][review]
    recipe_id = revtraindf['RecipeId'][review]
    ratings_by_author[author_id][recipe_id] = revtraindf['Rating'][review]
    reviewers_by_recipe[recipe_id].append(author_id)

In [218]:
authors0std = [author_id for author_id in ratings_by_author if np.std(list(ratings_by_author[author_id].values())) == 0]

In [221]:
def rating_sim(ratings1,ratings2):
    common_recipes = set(ratings1.keys()).intersection(set(ratings2.keys()))
    if len(common_recipes) == 0:
        return 0
    std1 = np.std(list(ratings1.values()))
    std2 = np.std(list(ratings2.values()))
    if min(std1,std2)== 0:
        return 0
    mean1 = np.mean(list(ratings1.values()))
    mean2 = np.mean(list(ratings2.values()))
    len1 = 0
    len2 = 0
    dot = 0
    for recipe_id in common_recipes:
        norm_rating1 = ratings1[recipe_id] - mean1
        norm_rating2 = ratings2[recipe_id] - mean2
        dot+=norm_rating1*norm_rating2
        len1+=norm_rating1**2
        len2+=norm_rating2**2
    if min(len1,len2)==0:
        return 0
    else:
        return dot/np.sqrt(len1*len2)

In [222]:
similarity_matrix = {}
similarity_by_author = {author_id:{} for author_id in author_ids}
for i in range(len(author_ids)-1):
    author_id1 = author_ids[i]
    ratings1 = ratings_by_author[author_id1]
    recs1 = set(ratings1.keys())
    for j in range(i+1,len(author_ids)):
        author_id2 = author_ids[j]
        ratings2 = ratings_by_author[author_id2]
        recs2 = set(ratings2.keys())
        if len(recs1.intersection(recs2))>0:
            sim = rating_sim(ratings1,ratings2)
            similarity_matrix[(i,j)] = sim
            similarity_by_author[author_id1][author_id2] = sim
            similarity_by_author[author_id2][author_id1] = sim

In [225]:
mean_ratings = {author_id:np.mean(list(ratings_by_author[author_id].values()))
                for author_id in ratings_by_author}
std_ratings = {author_id:np.std(list(ratings_by_author[author_id].values()))
                for author_id in ratings_by_author}

In [232]:
def predict_rating(pair):
    author_id = pair[0]
    author_sims = similarity_by_author[author_id]
    author_ratings = ratings_by_author[author_id]
    author_recipes = set(author_ratings.keys())
    recipe_id = pair[1]
    if recipe_id not in reviewers_by_recipe:
        return 0
    other_reviewers = reviewers_by_recipe[recipe_id]
    other_reviewers_comparable = [author_id1 for author_id1 in other_reviewers if author_id1 in author_sims]
    cumulative_info = 0
    for author_id1 in other_reviewers_comparable:
        similarity = author_sims[author_id1]
        rating = ratings_by_author[author_id1][recipe_id]-mean_ratings[author_id1]
        no_common_recipes = len(set(ratings_by_author[author_id1].keys()).intersection(author_recipes))
        cumulative_info+=rating*similarity*no_common_recipes
    if cumulative_info > 0:
        return 1
    elif cumulative_info < 0:
        return -1

In [233]:
revtestdf['Pred'] = [predict_rating(pair) for pair in revtestdf.index]

In [242]:
revtestdf.loc[revtestdf.Pred==1]

                  AuthorId  RecipeId  Rating   NRating  Pred
Pair
(27678, 26068)       27678     13549       5  0.215909   1.0
(100980, 100594)    100980      8782       4 -0.266667   1.0
(129333, 101041)    129333     50737       0 -4.647059   1.0
(32772, 29184)       32772     13948       0 -4.895105   1.0
(5060, 9327)          5060     12591       5  0.224044   1.0
(29014, 112725)      29014     88453       5  0.161290   1.0
(55729, 69173)       55729     23959       4  0.517510   1.0
(27678, 87879)       27678     13126       5  0.215909   1.0
(84657, 56965)       84657     14911       0 -4.575758   1.0
(6357, 15229)         6357     26276       5  0.160000   1.0
(46660, 77561)       46660     56748       5  0.355191   1.0
(96436, 109655)      96436      4861       5  0.484848   1.0
(47559, 28667)       47559     26370       5  0.230769   1.0
(37183, 16546)       37183     16470       5  0.476190   1.0
(93006, 101475)      93006     23939       5  0.377880   1.0
(176591, 207872)    176591     57770       4 -0.307692   1.0
(59473, 82486)       59473     64811       5  0.230769   1.0
(128447, 116185)    128447     16733       5  0.313725   1.0
(168462, 191490)    168462     45809       5  0.196970   1.0
(105125, 190661)    105125    107570       4 -0.583333   1.0
(125773, 101568)    125773     12431       5  0.136986   1.0
(82367, 77417)       82367     23939       5  0.290909   1.0
(129992, 123403)    129992     65768       4 -0.698413   1.0
(120040, 82288)     120040     29884       5  2.062500   1.0
(63128, 67781)       63128     67426       5  0.431034   1.0
(119466, 183399)    119466     68491       5  0.113772   1.0
(8526, 26306)         8526       246       5  0.361111   1.0
(52543, 195199)      52543     64954       5  0.103203   1.0
(158086, 149748)    158086     60200       4 -0.855513   1.0
(8688, 7417)          8688     12522       4 -0.916865   1.0
(420166, 413638)    420166     75302       5  0.166667   1.0
(26942, 216350)      26942     80118       5  0.066667   1.0
(20754, 90502)       20754     19653       5  0.060241   1.0
(255338, 305221)    255338     31804       5  0.191304   1.0
(68460, 139213)      68460     51209       5  0.122807   1.0
(45737, 64138)       45737     20287       2 -1.954545   1.0
(94618, 103215)      94618     67256       5  0.139535   1.0
(42720, 45006)       42720     32173       5  0.057554   1.0
(138429, 151732)    138429     43100       5  0.043860   1.0
(37471, 82077)       37471     15242       5  0.111111   1.0
(9869, 65266)         9869     54820       5  0.080128   1.0
(7802, 28662)         7802     20287       4 -0.906977   1.0
(42720, 43186)       42720     35889       4 -0.942446   1.0
(67575, 186352)      67575     22210       4 -0.333333   1.0
(42362, 80156)       42362     68491       5  0.047619   1.0
(95263, 81656)       95263      8579       5  0.190476   1.0
(37106, 70239)       37106     26389       5  0.090909   1.0
(55882, 35625)       55882     13745       5  0.109091   1.0
(169969, 133699)    169969     73440       5  0.059091   1.0
(37608, 15846)       37608     27475       5  0.357143   1.0
(45524, 50367)       45524     40106       5  0.287879   1.0
(98867, 90765)       98867     48153       5  0.685714   1.0
(51257, 54114)       51257     25885       5  0.050000   1.0

In [133]:
revdf_dense['No_revs_auth'] = [list(ratings_by_recipe[recipe_id].keys()) for recipe_id in revdf_dense['RecipeId'].values]
revdf_dense['No_reviews_rec'] = [len(ratings_by_recipe[recipe_id].keys()) for recipe_id in revdf_dense['RecipeId'].values]

,ReviewId,RecipeId,AuthorId,Rating,All_reviewers,No_reviews_rec
Pair,,,,,,
"(1773, 13)",13,7435,1773,5,"[1773, 16346, 10649, 35414, 68535, 76715, 2665...",32
"(2046, 19)",19,13307,2046,5,"[2046, 11065, 35377, 43505, 54840, 61105, 3161...",95
"(2046, 23)",23,4684,2046,5,"[2046, 12882, 37636, 54697, 37779, 126440, 160...",31
"(3228, 102)",102,5297,3228,4,"[3228, 15820, 30854, 109983, 108954, 19051, 53...",51
"(3385, 125)",125,3470,3385,1,"[3385, 99979, 152855, 55205, 136147, 124614, 1...",251
...,...,...,...,...,...,...
"(2002480537, 2090279)",2090279,53605,2002480537,5,"[49304, 27783, 95743, 102602, 64322, 153067, 5...",32
"(843817, 2090280)",2090280,73866,843817,5,"[54678, 54697, 58300, 12481, 72254, 117565, 53...",126
"(2038463, 2090287)",2090287,26370,2038463,0,"[37036, 42503, 52381, 47559, 58836, 6357, 5864...",225
"(2002871210, 2090291)",2090291,80156,2002871210,0,"[58300, 64583, 63630, 115658, 104600, 50441, 5...",214
"(35251, 2090301)",2090301,339905,35251,5,"[28087, 325290, 242729, 383346, 124416, 157425...",49

In [152]:
ratings_by_author_dense = {author_id:{} for author_id in revdf_dense.AuthorId.unique()}

for review_index in revdf_dense.index:
    author_id = revdf_dense['AuthorId'][review_index]
    recipe_id = revdf_dense['RecipeId'][review_index]
    rating = revdf_dense['Rating'][review_index]
    ratings_by_author_dense[author_id][recipe_id] = rating

auth_dense_nzstd = [author_id for author_id in ratings_by_author_dense
                    if np.std(list(ratings_by_author_dense[author_id].values())) > 0]

revdf_dense = (revdf_dense.T[[pair for pair in revdf_dense.index if pair[0] in auth_dense_nzstd]].T).copy()

In [165]:
auth_dense_test = [author_id for author_id in ratings_by_author_dense
                    if len(list(ratings_by_author_dense[author_id].values())) > 10]

In [166]:
revdf_dense_test = (revdf_dense.T[[pair for pair in revdf_dense.index if pair[0] in auth_dense_test]].T)

In [163]:
[len(revdf_dense_test.AuthorId.unique()),len(revdf_dense_test.RecipeId.unique()),len(revdf_dense_test)]

[17713, 4094, 256498]

In [167]:
[len(revdf_dense_test.AuthorId.unique()),len(revdf_dense_test.RecipeId.unique()),len(revdf_dense_test)]

[5472, 4093, 204045]

In [181]:
revdf_dense.to_pickle('data/revdense.pk')

In [45]:
authors30 = [author_id for author_id in authorcounts30 
                      if authorcounts30[author_id]>1]

4094

In [104]:
def get_dense(a_dic,r_dic,a_min,r_min,d_max):
    items = set([item for item in r_dic if len(r_dic[item]) >= r_min])
    users = set([user for user in a_dic if len(set(a_dic[user].keys()).intersection(items)) >= a_min])
    count = 1
    while True:
        new_items = set([item for item in r_dic if len(set(r_dic[item].keys()).intersection(users)) >= r_min])
        new_users = set([user for user in a_dic if len(set(a_dic[user].keys()).intersection(new_items)) >= a_min])
        count+=1
        if (len(new_items) == len(items) and len(new_users) == len(users)) or count >= d_max:
            return [new_users,new_items]
        items = new_items
        users = new_users

In [113]:
test = get_dense(ratings_by_author,ratings_by_recipe,10,30,2)

In [92]:
revdf['Pair'] = [tuple(pair) for pair in np.transpose([revdf['AuthorId'].values,revdf['ReviewId'].values])]
revdf = revdf.set_index('Pair')

In [93]:
revdf

                       ReviewId  RecipeId    AuthorId  Rating
Pair
(1634, 7)                     7      4384        1634       4
(2046, 9)                     9      4523        2046       2
(1773, 13)                   13      7435        1773       5
(2046, 17)                   17      5221        2046       4
(2046, 19)                   19     13307        2046       5
...                         ...       ...         ...     ...
(2002871210, 2090292)   2090292    188578  2002871210       5
(35251, 2090301)        2090301    339905       35251       5
(2002323049, 2090302)   2090302    537541  2002323049       3
(2002553884, 2090329)   2090329    103772  2002553884       2
(628753, 2090332)       2090332    230339      628753       5

[1102882 rows x 4 columns]

In [107]:
test[0]

{32772,
 1900559,
 720912,
 360471,
 65573,
 163877,
 294953,
 131126,
 262200,
 917568,
 229448,
 262216,
 65634,
 295018,
 1179773,
 688254,
 262272,
 65670,
 1376400,
 163986,
 229524,
 163995,
 458914,
 98467,
 917666,
 262312,
 426156,
 458927,
 1801126064,
 65720,
 98511,
 393426,
 262357,
 229605,
 655596,
 327920,
 229619,
 655603,
 327938,
 983307,
 262423,
 590105,
 360730,
 98590,
 950577,
 327989,
 328000,
 164182,
 360813,
 33135,
 328048,
 1048945,
 1048952,
 229753,
 622972,
 33159,
 2000519559,
 328077,
 65936,
 229787,
 491933,
 197023,
 98722,
 65955,
 33188,
 328099,
 229800,
 295341,
 229808,
 164276,
 688566,
 1769917,
 491970,
 98761,
 491979,
 66008,
 229850,
 1049057,
 1507817,
 98812,
 98828,
 1442318,
 164368,
 1671718,
 328235,
 98861,
 852529,
 1278514,
 98867,
 1049139,
 1311294,
 2002256447,
 852554,
 131659,
 361041,
 197201,
 131674,
 33376,
 98919,
 131698,
 197244,
 655996,
 230020,
 295565,
 459415,
 1376928,
 459426,
 33443,
 295591,
 885416,
 983723,
 98994,
 393923,
 557764,
 66246,
 197319,
 230102,
 1803322077,
 131807,
 361186,
 623331,
 557801,
 164610,
 983811,
 721674,
 230157,
 951055,
 66321,
 66322,
 328467,
 361238,
 295704,
 492314,
 164645,
 623399,
 590640,
 33588,
 262966,
 983863,
 295741,
 590656,
 1606472,
 492365,
 197456,
 99164,
 394077,
 230238,
 328542,
 525149,
 885596,
 951133,
 394085,
 230258,
 1802568568,
 492412,
 525198,
 66448,
 99221,
 426903,
 721832,
 132010,
 230319,
 33722,
 230331,
 66549,
 295939,
 99336,
 2130957,
 361489,
 164890,
 33823,
 525353,
 164913,
 164914,
 230460,
 754772,
 459861,
 296027,
 427101,
 1049709,
 197746,
 296050,
 1049724,
 1246335,
 754827,
 296081,
 296085,
 754840,
 197788,
 230557,
 427184,
 230579,
 689332,
 328909,
 66766,
 885979,
 34025,
 230648,
 656643,
 165136,
 460048,
 1803549,
 132383,
 99624,
 66856,
 165169,
 66873,
 99655,
 34122,
 66899,
 197971,
 1213781,
 165206,
 263513,
 558429,
 1377630,
 394592,
 34146,
 394604,
 263542,
 394617,
 689540,
 165263,
 689557,
 1017242,
 34206,
 66983,
 656809,
 66987,
 198059,
 230834,
 329138,
 165308,
 132544,
 591302,
 99785,
 493002,
 361931,
 230860,
 591307,
 67026,
 591314,
 34272,
 34280,
 230892,
 198129,
 624114,
 263673,
 1533,
 1535,
 230912,
 99850,
 198154,
 361996,
 460301,
 67103,
 493088,
 329251,
 493093,
 624167,
 34357,
 362038,
 591416,
 165433,
 394810,
 362061,
 67154,
 755285,
 722518,
 820822,
 329304,
 296546,
 329324,
 2426491,
 231054,
 231057,
 99994,
 132764,
 67243,
 67270,
 362184,
 624345,
 362202,
 493276,
 1345244,
 362206,
 427743,
 1017580,
 427761,
 165623,
 198393,
 198419,
 67358,
 231198,
 526124,
 657197,
 100149,
 67395,
 886603,
 264012,
 264017,
 329554,
 2754389,
 100183,
 2066263,
 657246,
 1891,
 296809,
 198520,
 165755,
 100221,
 34687,
 329600,
 558979,
 886660,
 460687,
 329618,
 919451,
 67491,
 329638,
 427952,
 198580,
 67509,
 657334,
 788414,
 231363,
 198601,
 264142,
 165841,
 165855,
 395252,
 67575,
 460802,
 296970,
 165899,
 34834,
 591894,
 329753,
 428060,
 264230,
 329769,
 165933,
 362546,
 133174,
 460854,
 34879,
 165953,
 231495,
 67656,
 231507,
 788585,
 297076,
 166019,
 821381,
 592007,
 67728,
 1542289,
 264339,
 755869,
 34986,
 493738,
 100526,
 559283,
 1378490,
 231612,
 526547,
 559316,
 166103,
 395482,
 231661,
 362734,
 67835,
 264452,
 2310,
 2312,
 35093,
 526614,
 35106,
 362787,
 559402,
 133423,
 198962,
 67899,
 362819,
 35140,
 1116488,
 526666,
 788814,
 297303,
 199020,
 35193,
 559493,
 362892,
 166294,
 461209,
 133534,
 297380,
 362919,
 100783,
 35251,
 68023,
 68024,
 1706426,
 690623,
 1575360,
 166337,
 395713,
 100811,
 526810,
 461283,
 362983,
 362986,
 494068,
 592373,
 1411577,
 756218,
 494084,
 1378827,
 2586,
 199198,
 723491,
 199207,
 264745,
 199213,
 363055,
 133680,
 100920,
 297540,
 1116742,
 297543,
 297546,
 166475,
 297557,
 35414,
 232037,
 494182,
 68210,
 100980,
 461428,
 985729,
 789122,
 68236,
 363149,
 1510041,
 35488,
 461472,
 395940,
 985766,
 527016,
 101034,
 985795,
 35526,
 395981,
 133845,
 985823,
 559846,
 133865,
 166636,
 166642,
 592633,
 199418,
 232190,
 68357,
 592646,
 330505,
 1248009,
 592657,
 35617,
 297761,
 494370,
 133933,
 396078,
 330545,
 35635,
 68411,
 133956,
 396103,
 2198343,
 428885,
 756573,
 68460,
 35701,
 232311,
 396152,
 297850,
 134011,
 68503,
 265114,
 101275,
 363420,
 461724,
 68526,
 101301,
 297913,
 953275,
 1739723,
 625629,
 68585,
 199657,
 68588,
 134124,
 1149940,
 68605,
 494589,
 101376,
 494593,
 134145,
 35848,
 429064,
 461834,
 789516,
 494607,
 232463,
 199697,
 625680,
 134164,
 723989,
 199708,
 625696,
 232480,
 363554,
 756769,
 330794,
 461867,
 429104,
 2001570864,
 1281080,
 461887,
 35918,
 232532,
 298070,
 167003,
 68715,
 658542,
 199792,
 101489,
 298098,
 134259,
 167028,
 68727,
 2329720,
 35965,
 167046,
 134289,
 527515,
 199839,
 429217,
 1248418,
 887970,
 855206,
 199848,
 363690,
 330937,
 462013,
 199879,
 1379541,
 3288,
 36056,
 232667,
 232669,
 199902,
 625885,
 1445088,
 232673,
 1117416,
 36079,
 1510644,
 1641717,
 527607,
 1182971,
 494853,
 593159,
 429324,
 199953,
 888081,
 494867,
 68884,
 396570,
 1019163,
 36128,
 920864,
 363813,
 68904,
 855347,
 167225,
 167242,
 68950,
 36187,
 953691,
 68960,
 101732,
 560491,
 167277,
 494965,
 232823,
 527754,
 494990,
 134550,
 1052065,
 1183144,
 1084840,
 626096,
 200115,
 855476,
 232886,
 658870,
 495032,
 363962,
 953790,
 101823,
 232898,
 298447,
 134613,
 265694,
 134624,
 232933,
 2428393,
 462336,
 134663,
 101896,
 790023,
 331278,
 593424,
 69138,
 593431,
 364056,
 101914,
 1248794,
 101919,
 724516,
 1248806,
 757287,
 1445414,
 1248818,
 560694,
 953910,
 986714,
 167527,
 593513,
 724593,
 69260,
 69267,
 200339,
 724631,
 396955,
 888475,
 102058,
 528049,
 364211,
 429769,
 2264777,
 1609420,
 331472,
 2000391889,
 790231,
 134875,
 265954,
 528098,
 265956,
 462571,
 102135,
 134903,
 626447,
 954129,
 233238,
 2002714,
 954139,
 331557,
 692025,
 593726,
 167782,
 298865,
 2001047423,
 36738,
 36739,
 429955,
 2920332,
 364433,
 462739,
 855959,
 102299,
 1216422,
 233398,
 1052603,
 36810,
 200655,
 495568,
 69587,
 397272,
 1675225,
 298981,
 102384,
 299011,
 593927,
 233491,
 233495,
 200728,
 1478685,
 299046,
 102441,
 331817,
 1216585,
 36944,
 528468,
 757856,
 954468,
 168037,
 233583,
 1249396,
 200822,
 102519,
 102526,
 1609858,
 168069,
 331918,
 659599,
 233616,
 462997,
 168087,
 1052827,
 37022,
 200862,
 37026,
 200875,
 37036,
 659630,
 561328,
 495793,
 954555,
 954556,
 987323,
 4291,
 495817,
 102602,
 1052873,
 495821,
 69838,
 37072,
 135377,
 659666,
 430291,
 37080,
 594139,
 168158,
 200930,
 495846,
 69863,
 37106,
 37107,
 69904,
 102672,
 463126,
 299289,
 168218,
 594204,
 69927,
 1446184,
 135470,
 626995,
 37183,
 364863,
 233801,
 921940,
 725332,
 4439,
 135511,
 463202,
 233829,
 201064,
 987499,
 37229,
 4470,
 168319,
 463231,
 135557,
 430471,
 266635,
 1085836,
 135566,
 37275,
 364968,
 430507,
 790962,
 332211,
 364980,
 37305,
 70073,
 70082,
 889287,
 1020362,
 102859,
 463319,
 168416,
 168423,
 135665,
 4601,
 266745,
 1020416,
 168451,
 823814,
 168462,
 102937,
 1118761,
 463412,
 430663,
 37449,
 463435,
 37463,
 37471,
 889443,
 1020526,
 135805,
 37502,
 4740,
 463502,
 594577,
 889489,
 692885,
 529049,
 299685,
 430765,
 430767,
 496315,
 594620,
 135870,
 135872,
 135887,
 37584,
 627420,
 398047,
 430823,
 37608,
 234222,
 365298,
 824052,
 37636,
 463640,
 1053464,
 234275,
 987941,
 168753,
 37688,
 103224,
 365368,
 168771,
 136004,
 594755,
 856902,
 299849,
 398160,
 37713,
 37721,
 37722,
 594793,
 463722,
 201581,
 365429,
 791416,
 332670,
 529278,
 365441,
 201614,
 37779,
 463763,
 332701,
 1872810,
 1381297,
 1676220,
 234430,
 168895,
 168896,
 332734,
 398275,
 5060,
 365507,
 103380,
 168921,
 168922,
 463845,
 365545,
 758761,
 37868,
 463852,
 1479664,
 37873,
 463858,
 267253,
 234487,
 398333,
 70662,
 267283,
 201762,
 332843,
 627761,
 889914,
 37950,
 1250369,
 267361,
 693345,
 1086570,
 332909,
 726142,
 70793,
 1348747,
 398487,
 496803,
 169130,
 136369,
 1348786,
 136378,
 496829,
 103628,
 169166,
 464080,
 333017,
 201946,
 496862,
 234727,
 1381618,
 890104,
 70910,
 136465,
 38181,
 38182,
 38185,
 398642,
 1545525,
 464185,
 136511,
 628036,
 38218,
 890187,
 1283421,
 464222,
 496999,
 628076,
 1086830,
 38261,
 71029,
 1021308,
 464253,
 103809,
 1185154,
 38281,
 169357,
 267665,
 857489,
 628127,
 234912,
 103849,
 497077,
 824761,
 693690,
 988608,
 103876,
 136645,
 464327,
 497100,
 726484,
 169430,
 366048,
 857580,
 202224,
 497152,
 726534,
 38418,
 136726,
 366118,
 5672,
 1349170,
 661045,
 628279,
 1250873,
 333374,
 267853,
 267867,
 923234,
 431716,
 398964,
 464509,
 71298,
 497288,
 169609,
 202378,
 726682,
 71324,
 431785,
 661163,
 38574,
 300721,
 562865,
 562874,
 202431,
 202432,
 792255,
 431813,
 300755,
 333545,
 169712,
 38643,
 ...}

In [95]:
len(test[1])

5519

In [115]:
pairs = [(a,r) for a in test[0] for r in test[1]]

In [117]:
len(pairs)

15629028

In [116]:
len(set(pairs).intersection(set(revdf.index)))

1611